# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# System files
.DS_Store
Thumbs.db
Angular-Community-Peru/host/.editorconfig
Angular-Community-Peru/host/.vscode/extensions.json
/Angular-Community-Peru/host/.vscode
/Angular-Community-Peru/libs/.vscode
/Angular-Community-Peru/mfe1/.vscode
/AngularCommunityPeru - Tech talk Micro frontend con Angular/host/.vscode
/AngularCommunityPeru - Tech talk Micro frontend con Angular/libs/.vscode
/AngularCommunityPeru - Tech talk Micro frontend con Angular/mfe1/.vscode
codigofacilito-signals/signals-example/.vscode/extensions.json
/codigofacilito-signals/signals-example/.vscode
/codigofacilito-signals/signals-proyecto/.vscode
